In [21]:
# CREAR BBDD mi_primerita_BBDD_Python

import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [22]:
# FUNCIÃ“N PARA CREAR LAS TABLAS. 

def crear_tablas(password, query):

    import mysql.connector

    cnx = mysql.connector.connect(user='root', password = password,
                                host='127.0.0.1', database ='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [31]:
query_zapatillas = '''CREATE TABLE Zapatillas (
    id_zapatilla INT AUTO_INCREMENT NOT NULL, 
    modelo VARCHAR (45) NOT NULL, 
    color VARCHAR (45) NOT NULL, 
    talla INT NOT NULL, 
    PRIMARY KEY (id_zapatilla))'''

query_clientes = '''CREATE TABLE clientes (
    id_cliente INT AUTO_INCREMENT NOT NULL, 
    nombre VARCHAR (45) NOT NULL, 
    numero_telefono INT (9) NOT NULL, 
    email VARCHAR (45) NOT NULL, 
    direccion VARCHAR (45) NOT NULL, 
    ciudad VARCHAR (45) NULL, 
    provincia VARCHAR (45) NOT NULL, 
    pais VARCHAR (45) NOT NULL, 
    codigo_postal VARCHAR (45) NOT NULL, 
    PRIMARY KEY (id_cliente))'''

query_empleados = '''CREATE TABLE empleados (
    id_empleado INT AUTO_INCREMENT NOT NULL, 
    nombre VARCHAR (45) NOT NULL, 
    tienda VARCHAR (45) NOT NULL, 
    salario INT NULL, 
    fecha_incorporacion DATE NOT NULL, 
    PRIMARY KEY (id_empleado))'''
    
query_facturas = '''CREATE TABLE Facturas (
        id_factura INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        numero_factura VARCHAR(45) NOT NULL,
        fecha DATE NOT NULL,
        id_zapatilla INT NOT NULL,
        id_empleado INT NOT NULL,
        id_cliente INT NOT NULL,
        CONSTRAINT fk_facturas_zapatillas
        FOREIGN KEY (id_zapatilla)
            REFERENCES zapatillas (id_zapatilla),
        CONSTRAINT fk_facturas_empleados
        FOREIGN KEY (id_empleado)
            REFERENCES Empleados (id_empleado),
        CONSTRAINT fk_facturas_clientes
        FOREIGN KEY (id_cliente)
            REFERENCES Clientes (id_cliente))'''

In [24]:
crear_tablas("AlumnaAdalab", query_zapatillas)

CMySQLCursor: CREATE TABLE Zapatillas (
    id_zapatil..

In [25]:
crear_tablas("AlumnaAdalab", query_clientes)

CMySQLCursor: CREATE TABLE clientes (
    id_cliente I..

In [26]:
crear_tablas("AlumnaAdalab", query_empleados)

CMySQLCursor: CREATE TABLE empleados (
    id_empleado..

In [32]:
crear_tablas("AlumnaAdalab", query_facturas)

CMySQLCursor: CREATE TABLE Facturas (
        id_factu..